* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Frank Ruhl Libre', serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

h1 {
  font-size: 2.6rem;
}

button,
label,
input,
p,
li {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font: 3rem;
}

h4 h5 {
  font-size: 2.2rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header {
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  min-height: 10vh;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-family: 'Great Vibes', cursive;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links a {
  color: black;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
}

.hero-text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.hero-text h2 {
  padding-top: 3rem;
}

.hero-text p {
  padding: 5rem 10rem;
  color: rgba(0, 0, 0, 0.8);
}

.hero-text a {
  padding: 2rem 6rem;
  border: 3px solid black;
}

.hero-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: -2;
}

.elena {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.plant {
  position: absolute;
  -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
          transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant-anim 2.5s ease infinite alternate-reverse 2s;
  z-index: -1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  max-height: 75%;
}

.plant1 {
  bottom: 0;
  left: -20%;
}

.plant2 {
  bottom: 0;
  left: 30%;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

.about-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-img h2 {
  font-size: 4.5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  letter-spacing: 2rem;
}

.about-text {
  color: white;
  background-color: #414141;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text h2 {
  margin-top: 2rem;
  font-size: 4rem;
}

.about-text h3 {
  margin: 2rem 0rem;
  font-size: 3.3rem;
}

.about-text p {
  font-size: 3rem;
}

.about-text div {
  padding: 3rem 8rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.gallery-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #525252;
  padding: 2rem 5rem;
  color: white;
}

.gallery-head h2 {
  font-size: 5rem;
}

.gallery-head p {
  font-size: 3rem;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.contact {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
}

.form-wrapper h2 {
  margin: 5rem 0rem;
}

.form-wrapper span {
  font-size: 6rem;
  color: #906272;
}

.form-wrapper label {
  display: block;
}

.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: #414141;
  color: white;
  border: none;
  padding: 1rem;
}

.form-wrapper button {
  padding: 1rem 8rem;
  background: #906272;
  color: white;
  border: none;
  width: 100%;
}

.contact img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

/*FOOTER SECTION */
footer {
  background: #414141;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h4 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  font-size: calc(1.4rem + 1vw);
}

button:focus {
  background: var(--background-color);
  color: white;
}

input:focus {
  border: 4px solid #9494c5;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@-webkit-keyframes plant-anim {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes plant-anim {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 50%;
  }
  .hero {
    width: 100%;
  }
  .hero p {
    padding: 5rem 3rem;
  }
  .hero a {
    display: inline-block;
    margin-bottom: 3rem;
  }
  .plant1 {
    bottom: 0;
    left: -10%;
  }
  .plant2 {
    bottom: 0;
    left: 40%;
  }
  .burger span {
    padding: .2rem 2rem;
    background-color: #525252;
    margin: .5rem 0rem;
    display: block;
  }
  .nav-links {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #414141;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links a {
    color: white;
    text-decoration: underline;
  }
  .about-img {
    height: 100%;
    width: 100%;
  }
  .about-text div {
    padding: 2rem 4rem;
  }
  .gallery img {
    grid-column: auto;
    grid-row: auto;
  }
  #gallery {
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .gallery-head {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */