* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #091921;
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: whitesmoke;
    place-items: center;
    background-color: #0c2835;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
    background-color: #74ff3b;
    color: #111;
}

.calculator span.clear {
    grid-column: span 2;
    width: 120px;
    background-color: rgb(238, 63, 92);
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;

}

.calculator span.equals {
    background-color: rgb(18, 67, 158);
}